<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Abra sua conta <strong>Online</strong>!</h1>
    <p>Cadastre-se agora e abra sua nova conta online.</p>
    <%= link_to "Cadastrar", new_user_registration_path, class: "button-6" %>
  </div>
</div>
