<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Create your <strong>Online Account</strong>!</h1>
    <p>Sign up now and open your new Online Account.</p>
    <%= link_to "Sign Up", new_user_registration_path, class: "button-10" %>
  </div>
</div>
