<div class="my-card">
  <div class="d-flex justify-content-between">
    <h1>Minhas Contas</h1>
    <%= link_to "Abrir Nova Conta", new_bank_account_path, class: "button-6" %>
  </div>
  <table  class="table table-bordered text-light mt-3">
    <thead>
      <tr>
        <th scope="col">
          Número da Conta
        </th>
        <th scope="col">
          Saldo
        </th>
        <th scope="col">

        </th>
      </tr>
    </thead>
    <tbody>
      <% @bank_accounts.each do |bank_account| %>
        <tr>
          <td>
            <%= bank_account.account_number %>
          </td>
          <td>
            <%= number_to_currency(bank_account.balance, unit: 'R$') %>
          </td>
          <td>
            <%= link_to "Extrato", bank_account_path(bank_account.id), class: "button-6" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>