.navbar-lewagon {
  justify-content: space-between;
  background: #19283b;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

i{
  font-size: 40px;
  color: rgb(238, 238, 238);
}
