.bank-account-link{
  color: #575757;
  font-size: 22px;
  transition: 0.3s;
}

.bank-account-link:hover{
  color: #222222;
}

.bank-account-link:hover{
  text-decoration: none;
}

.saldo-table {
  font-size: 22px;
  color: #9b9292;
}

.trans-date {
  color: #575757;
}

.trans-type {
  color: #575757;
}